{% extends 'base.html' %}
{% block content %}

<main>
    <div class="page-header">
        <div class="page-header-contents">
            <h2>All Songs</h2>
            <a href="/songs/new">Add New</a>
        </div>
        <hr>
    </div>

    <div class="card-list">
        {% for song in songs %}
        <article>
            <a href="songs/{{ song.id }}">
                {% include 'songs/components/song-card.html' %}
            </a>
        </article>
        {% endfor %}
    </div>
</main>
{% endblock content %}