{% extends 'base.html' %}
{% block content %}

<main>
    <div class="page-header">
        <div class="page-header-contents">
            <h2>All Songs</h2>
            <a href="/songs/new">Add New</a>
        </div>
        <hr>
    </div>

    {% for song in songs %}


    <a href="songs/{{ song.id }}">
        <div class="song-details">
            <h3>{{ song.title }}</h3>
            <p>by {{ song.artist }}</p>
            <p>{{ song.album }}</p>
        </div>
        {% include 'songs/widgets/completion.html' %}
        <div class="song-parts-container">
            <p>Parts - {{ len(song.parts) }}
            </p>
        </div>
    </a>


    {% endfor %}
</main>
{% endblock content %}