{% extends 'base.html' %}
{% block content %}
<main>
    <div class="page-header">
        <div class="page-header-contents">
            <h2>All Artists</h2>
        </div>
        <div class="page-header-links">
            <form><button formaction="/artists/new">New Artist</button></form>
        </div>
        <hr>
    </div>

    <div class="card-list card-list-column">
        {% for artist in artists %}
        <a href="/artists/{{ artist.id }}">
            {% include '/components/artist-card-row.html' %}
        </a>
        {% endfor %}
    </div>
</main>
{% endblock content %}