{% extends 'base.html' %}
{% block content %}
<main>
    <div class="page-header">
        <div class="page-header-contents page-header-card">
            {% with type="Artist", item=artist ,show_parent_button=True %}
            {% include 'components/row-card.html' %}
            {% endwith %}
        </div>
        <hr>
    </div>
    <div class="card-list card-list-column">
        {% for album in albums %}
        {% with type="Album", item=album %}
        {% include 'components/row-card.html' %}
        {% endwith %}
        {% endfor %}
    </div>
</main>
{% endblock content %}