:root {
    --darkest: #2a2438;
    --darker: #352f44;
    --dark: #5c5470;
    --light: #dbd8e3;
    --text-color: white;
}

body {
    font-family: 'Architects Daughter';
    color: var(--text-color);
    background-color: var(--light);
}

a {
    text-decoration: none;
    color: var(--text-color)
}

header {
    background-color: var(--darkest);
    display: flex;
    flex-direction: column;
    align-items: center
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--dark);
}

nav>div {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    padding: 0.8rem;
}

.page-header {

    width: 100%;
    background-color: var(--darker);
}

.page-header-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;

}

hr {
    color: white;
}

.card-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    margin: auto;
    gap: 1rem;
}

.song-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(35, 35, 35);

    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    border-style: ridge;
    border-color: silver;
    border-radius: 1rem;
}

.song-completion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.song-completion>p {
    margin: 0;
}

.completion-bar-background {
    background-color: grey;
    height: 10px;
    width: 120px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.song-parts-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.part-meters-container {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    gap: 2px;
    background-color: black;
    padding: 2px;
}

.single-part-meter {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    height: 60px;

}

.part-meter {
    background-color: rgba(0, 128, 0, 0.345);
    width: 100%;
    height: 100%;

}

.part-meter-on {
    background-color: green;
}