{% extends 'base.html' %}
{% block content %}
<div class="card-list form-card-list">
    <div class="card form-card">
        <h2>Edit Instrument</h2>
        <form class="form-card" action="/instruments/{{ instrument.id }}/update" method="post">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" value="{{ instrument.name }}" required>
            <br>
            <label for="icon_radio">Icon:</label>
            <div class="icon-popup ">
                <input type="checkbox" name="icon-selector" id="icon-select" class="icon-select" hidden>
                {% for icon in icons %}
                <input type="radio" class="icon-radio" name="icon" id="icon{{ icon }}" value="{{ icon }}" {%if
                    instrument.icon==icon %} checked {% endif %}required hidden>
                <label for="icon{{ icon }}" class="instrument-icons">&#x{{ icon }};</label>
                {% endfor %}
            </div>

            <label for="icon-select" class="fake-button">Select New Icon</label>
            <div id="hidden">
                <input type="radio" name="icon" class="hidden-radio" required>
                <div id="hider">
                </div>
            </div>

            <input type="submit" value="Update Instrument">
        </form>
        <form>
            <button formaction="/instruments">Cancel</button>
        </form>
    </div>
</div>


{% endblock content %}