{% extends 'base.html' %}
{% block content %}

<h2>Edit Instrument</h2>
<form action="/instruments/{{ instrument.id }}/update" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" value="{{ instrument.name }}" required>
    </div>
    <div>
        <label for="icon-select" class="icon">Select Icon</label>

        <div class="icon-popup">
            <input type="checkbox" name="icon-selector" id="icon-select" class="icon-select" hidden>
            {% for icon in icons %}
            <input type="radio" class="icon-radio" name="icon" id="icon{{ icon }}" value="{{ icon }}" hidden required
                {%if instrument.icon==icon %} checked {% endif %}>
            <label for="icon{{ icon }}" class="instrument-icons">&#x{{ icon }};</label>
            {% endfor %}
        </div>
        <div id="hidden">
            <input type="radio" name="icon" class="hidden-radio" required>
            <div id="hider"></div>
        </div>
    </div>
    <div>
        <input type="submit" value="Update Instrument">
    </div>
</form>
<form action="/instruments/{{instrument.id}}">
    <input type="submit" value="Cancel">
</form>

<div class="instrument-icons">
    &#xe92c;
</div>
{% endblock content %}