{% extends 'base.html' %}
{% block content %}
<main>
    <div class="page-header">
        <div class="page-header-contents">
            <h2>All Instruments</h2>
            <a href="/instruments/new">New Album</a>
        </div>
        <hr>
    </div>
    <a href="/instruments/new">Add New</a>
    <div class="card-list">
        {% for instrument in instruments %}
        <a href="/instruments/{{ instrument.id }}">
            {% include 'components/instrument-card.html' %}
        </a>
        {% endfor %}
    </div>
</main>

{% endblock content %}