{% extends 'base.html' %}
{% block content %}
<main>
    <div class="page-header">
        <div class="page-header-contents">
            <h2>All Instruments</h2>

        </div>
        <hr>
    </div>

    <div class="card-list inst-card-list">
        {% for instrument in instruments %}
        <a href="/instruments/{{ instrument.id }}/edit">
            {% include 'components/instrument-card.html' %}
        </a>
        {% endfor %}
        <a href="/instruments/new">
            <div class="card instrument-card new-instrument-card">
                <p class="plus">&CirclePlus;
                <p>
                <form class="buttons-form"><button formaction="/instruments/new">Add New</button></form>
            </div>
        </a>
    </div>
</main>

{% endblock content %}