{% extends 'base.html' %}
{% block content %}

<h2>New Instrument</h2>
<form action="/instruments" method="post">
    <input type="hidden" name="request_origin" value="{{request.path}}">
    <div>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" placeholder="Instrument Name" required>
    </div>
    <div>
        <label for="icon-select" class="icon">Select Icon</label>

        <div class="icon-popup">
            <input type="checkbox" name="icon-selector" id="icon-select" class="icon-select" hidden checked>
            {% for icon in icons %}
            <input type="radio" class="icon-radio" name="icon" id="icon{{ icon }}" value="{{ icon }}" hidden required>
            <label for="icon{{ icon }}" class="instrument-icons">&#x{{ icon }};</label>
            {% endfor %}
        </div>
        <div id="hidden">
            <input type="radio" name="icon" class="hidden-radio" required>
            <div id="hider"></div>
        </div>
    </div>
    <div>
        <input type="submit" value="Add Instrument">
    </div>
</form>
<form action="/instruments">
    <input type="submit" value="Cancel">
</form>
{% endblock content %}