<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{{title}} - Recording Tracker</title>
</head>

<body>
    <header>
        <h1>Recording Tracker</h1>
        <nav>

            <div>
                <a href="/">Home</a>
                <a href="/songs">Songs</a>
                <a href="/songs/new">New Song</a>
                <a href="/parts">Parts</a>
            </div>

        </nav>
    </header>
    {% block content %}

    {% endblock content %}
</body>

</html>