<!-- Requires children - list of ints in range 0-100-->
<div class="child-elements-container">
    <div class="meter element-meters-container ">
        {% if children %}
        {% for child in children %}
        <div class="element-meter">
            {% for i in range(10,110,10) %}
            <div class="meter-chunk {% if child >=i %}meter-chunk-on{% endif %}"></div>
            {% endfor %}
        </div>
        {% endfor %}
        {% else %}
        <div class="element-meter">
            <div class="meter-chunk"></div>
        </div>
        {% endif %}
    </div>
</div>