<!-- requires element_name, num_elements and elements-list of ints in range 0-100-->
<div class="child-elements-container">
    <!-- <p>{{ element_name }} - {{ num_elements }}</p> -->

    <div class="meter element-meters-container ">

        {% if elements %}
        {% for element in elements %}
        <div class="element-meter">
            {% for i in range(10,110,10) %}
            <div class="meter-chunk {% if element >=i %}meter-chunk-on{% endif %}"></div>
            {% endfor %}

        </div>
        {% endfor %}
        {% else %}
        <div class="element-meter">
            <div class="meter-chunk"></div>
        </div>
        {% endif %}
    </div>
</div>