<!-- Requires completion variable set as int range 0-100  
    set hide_percent to True and pass in label to replace text-->
<div class="song-completion">
    {% set width = 150 %}
    {% set completion_bar = (completion/100)*width %}



    <div>
        {% if hide_percent %}
        {% if label=="" %}
        <p class="invisible">______________</p>
        {% else %}
        <p>{{ label }}</p>
        {% endif %}

        {% else %}
        <p>Completion - {{ completion }}%</p>
        {% endif %}

        <div class="meter completion-meter " width="{{ width }}">
            {% for i in range(5,105,5) %}
            <div class="meter-chunk {% if completion >=i %}meter-chunk-on{% endif %}"></div>
            {% endfor %}
        </div>
    </div>

</div>