<div class="modal">
    <div class="card form-card">
        <h2>Edit {{ type }}</h2>
        <form class="form-card" action="{{ link }}/update" method="post">
            {% if type=="Artist"%}
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" value="{{ item.name }}" required>
            <br>
            {% else %}

            {% endif %}

            <label for="name">Name:</label>
            <input type="text" name="name" id="name" value="{{ item.name }}" required>
            </select>

            <br>
            <div class="form-row">
                <input type="submit" value="Update {{ type }}">
            </div>
        </form>
        <button class="close-modal" type="button">Cancel</button>
    </div>
</div>