{% if type=="Part" %}
{% set new_link = "" %}
{% elif type=="Song" %}
{% set new_link = "/albums/"~item.album.id~"/songs" %}
{% elif type=="Album" %}
{% set new_link = "/artists/"~item.artist.id~"/albums" %}
{% elif type=="Artist" %}
{% set new_link = "/artists" %}
{% endif %}
<div class="modal">
    <div class="card form-card">
        <h2>New Song</h2>
        <form class="form-card" action="{{ new_link }}" method="post">
            <label for="album">Album: </label>
            <div class="form-row">
                {{ item.name }}
            </div>
            <label for="name">Title: </label>
            <input type="text" name="name" id="name" required>
            <br>
            <label for="notes">Notes: </label>
            <textarea name="notes" id="notes" cols="30" rows="10"></textarea>
            <div class="form-row">
                <input type="submit" value="Add New">
            </div>
        </form>
        <button class="close-modal" type="button">Cancel</button>
    </div>
</div>