{% extends 'base.html' %}
{% block content %}
<h2>New Part for {{ song.title }} by {{ song.artist }}</h2>
<form action="/songs/{{ song.id }}/parts" method="post">
    <input type="hidden" name="song_id" value="{{ song.id }}">
    <div>
        <label for="name">Name: </label>
        <input type="text" name="name" id="name" required>
    </div>
    <div>
        <label for="instrument">Instrument: </label>
        <select name="instrument_id" id="instrument" required>
            <option value="" disabled selected>Select..</option>
            {% for instrument in instruments %}
            <option value="{{ instrument.id }}">
                {{ instrument.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="notes">Notes: </label>
        <textarea name="notes" id="notes" cols="30" rows="10"></textarea>
    </div>
    <div>
        <input type="submit" value="Add Part">
    </div>
</form>
<form action="/songs/{{ song.id }}">
    <input type="submit" value="Cancel">
</form>
{% endblock content %}