/* #region body */
:root {
    --darkest: #13111a;
    --darker: #24202e;
    --dark: #312b3e;
    --light: #474354;
    --text-color: white;
    /* --darkest: #2a2438;
    --darker: #352f44;
    --dark: #5c5470;
    --light: #dbd8e3;
    --text-color: white; */
}



body {
    font-family: 'Architects Daughter';
    color: var(--text-color);
    background-color: var(--light);
    margin-bottom: 80px;
}

main {}

a {
    text-decoration: none;
    color: var(--text-color)
}

/* #endregion */
/* #region header */
header {
    background-color: var(--darkest);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: ridge;
    border-color: silver;
    border-width: 3px;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

nav {
    border-style: ridge;
    border-color: silver;
    border-width: 3px;
    border-left: 0;
    border-right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--dark);
}

nav>div {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    padding: 0.8rem;
}

/* #endregion */
/* #region page-header */
.page-header {

    width: 100%;
    background-color: var(--darker);
}

.page-header-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;

}

.center {
    display: flex;
    justify-content: center;
}



.page-header-card {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    justify-content: center;
}

.page-header-links {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.page-header-home {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

hr {
    color: white;
}

/* #endregion page-header */
/* #region card-list */
.card-list {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
    gap: 1rem;
}

.card-list-column {

    flex-direction: column-reverse;
    justify-content: center;
}

.not-reverse {
    flex-direction: column;
}

.part-card-list {
    justify-content: center;
    flex-wrap: wrap;
}

.instrument-card-list {

    flex-wrap: wrap;
}


.form-card-list {
    justify-content: center;
}

/* #endregion card-list */
/* #region card */
.card {
    background-color: rgb(21, 21, 21);
    padding-left: 1rem;
    padding-right: 1rem;
    padding: 1rem;
    border-style: ridge;
    border-color: silver;
    border-width: 3px;
    border-radius: 1rem;
}

.row-card {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    /* justify-content: space-between; */
}

.row-card-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.row-card-middle {
    align-items: center;
    justify-content: space-between;
}

.row-card-end {
    align-items: baseline;
    justify-content: space-evenly;
}

.row-card-middle>h3 {
    margin-top: 0;
    text-decoration: underline;
}


.part-card {
    width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.instrument-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.new-instrument-card {
    padding-left: 2rem;
    padding-right: 2rem;

}

.new-instrument-card>h3 {
    margin: 0;
}

.plus {
    font-size: 6rem;
    margin: 0
}

.form-card {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 0.5rem;
    width: 25rem;
}

.form-card>h2 {
    text-align: center;
}

.delete-form {
    text-align: center
}

.confirm-delete {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

.part-form-card {
    flex-direction: row;
    display: flex;

    align-items: center;
    gap: 0.5rem;

}

.form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.form-row-end {
    justify-content: end;
}

.form-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}



.buttons-form>button {

    cursor: pointer;
}

/* #endregion card */
/* #region meters */
.song-completion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.song-completion p {
    margin: 0;
}

.meter {
    border-style: ridge;
    border-color: rgb(46, 45, 45);
    border-width: 5px;
    background-color: black;
}

.completion-meter {
    display: flex;
    margin: auto;
    height: 1rem;

    /* height: 60px; */
}


.child-elements-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.element-meters-container {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    gap: 2px;
    background-color: black;

}

.element-meter {
    display: flex;
    flex-direction: column-reverse;

    width: 100%;
    margin: auto;
    height: 60px;

}

.meter-chunk {
    background-color: rgba(0, 128, 0, 0.345);
    width: 100%;
    height: 100%;

}

.meter-chunk-on {
    background-color: green;
}

/* #endregion child-elements-meter */
/* #region inst-icons */
@font-face {
    font-family: instruments-t;
    src: url(instruments-t.ttf);
}

.instrument-icons {
    font-family: instruments-t;
    color: white;
    font-size: 4rem;
    margin: 0;
    border-style: ridge;
    border-color: rgb(46, 45, 45);
    border-width: 5px;
    background-color: black;
    padding: 0.3rem;
    box-sizing: border-box;
}

.instrument-icons-small {
    font-size: 2rem;
}

.fake-button {
    text-align: center;
    padding: 1px 6px;
    background-color: rgb(239, 239, 239);
    color: black;
    border-style: outset;
    border-width: 2px;
    border-color: rgb(118, 118, 118);
    box-sizing: border-box;
}

.icon-select~label {

    display: none;
}

.icon-select:checked~label {
    display: block;
}

.icon-radio:checked+label {
    display: block;

    border-color: silver;


}

.icon-popup {
    font-size: 4rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1 rem;
}

#hidden {
    position: relative;
    width: 100%;
    height: 100%;
}

#hider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;


}

.hidden-radio {
    opacity: 0;
}


/* #endregion inst-icons */

input {
    text-align: center;
}

#show-notes+div.notes-card {
    display: none;
}

#show-notes:checked+div.notes-card {
    display: flex;

}

.invisible {
    opacity: 0;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--darkest);
    text-align: center;
}

@media (min-width: 720px) {
    main {
        width: 100%;

    }

    .card-list {
        max-width: 800px;
        margin: auto;
    }
}