/* #region body */
:root {
    --darkest: #13111a;
    --darker: #24202e;
    --dark: #312b3e;
    --light: #474354;
    --text-color: rgb(216, 216, 216);
    /* --darkest: #2a2438;
    --darker: #352f44;
    --dark: #5c5470;
    --light: #dbd8e3;
    --text-color: white; */
}



body {
    font-family: 'Architects Daughter';
    color: var(--text-color);
    background-color: var(--light);
    margin-bottom: 80px;
}

main {}

a {
    text-decoration: none;
    color: var(--text-color)
}

.icon-button {
    color: var(--text-color);
    background: none;
    border: none;
}

/* #endregion */
/* #region header */

header {
    background-color: var(--darkest);
    box-sizing: border-box;
    position: sticky;
    top: 0px;
    display: grid;
    justify-content: center;
    align-items: center;
    border-style: ridge;
    border-color: silver;
    border-width: 3px;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    width: 100%;

}

header>h1 {
    text-align: center;
}

#menu-button {
    position: fixed;
    top: 1.2rem;
    left: 1.5rem;
    z-index: 2;

}

#nav-pane {
    z-index: 1;
    position: fixed;
    height: 100dvh;
    width: 100dvw;
    top: 0;
    left: -2000px;
    transition: all 0.4s ease-out;
    display: grid;
    grid-template-columns: 50% 50%;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    align-items: flex-start;
    padding: 0.8rem;
    font-size: 1.2rem;
    border-style: ridge;
    border-color: silver;
    border-width: 3px;
    padding-left: 3rem;
    padding-top: 6rem;
    padding-bottom: 1rem;
    width: 100%;
    background-color: var(--dark);
    overflow-y: scroll;
    opacity: 100%;
}

#nav-pane {
    background-color: rgba(0, 0, 0, 0.528);
    width: 100dvw;
    height: 100dvh;
}


#nav-pane.show {
    display: flex;
    left: 0;
}



/* #endregion */
/* #region page-header */
.page-header {
    position: sticky;
    top: 4.3rem;
    width: 100%;
    background-color: var(--darker);
}

.page-header-contents {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    width: 100%;
    margin: auto;
}

.page-header-contents>h2 {
    padding-top: 0.5rem;
}

.center {
    display: flex;
    justify-content: center;
}

.page-header-card {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    justify-content: center;


}

.page-header-links {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.page-header-home {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

hr {
    color: white;
}

/* #endregion page-header */
/* #region card-list */
.card-list {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
    gap: 1rem;
}

.card-list-column {

    flex-direction: column-reverse;
    justify-content: center;
}

.not-reverse {
    flex-direction: column;
}

.part-card-list {
    justify-content: center;
    flex-wrap: wrap;
}

.instrument-card-list {

    flex-wrap: wrap;
}


.form-card-list {
    justify-content: center;
}

/* #endregion card-list */
/* #region card */
.card {
    background-color: rgb(21, 21, 21);
    padding: 1rem;
    padding-left: 1rem;
    padding-right: 0;
    padding-top: 0.5rem;
    border-style: ridge;
    border-color: silver;
    border-width: 3px;
    border-radius: 1rem;
}

.row-card {
    display: flex;
    flex-direction: column;
}

.row-card h5 {
    margin: 0;
    text-align: center;
    text-decoration: underline;
}

.row-card-content {
    display: grid;

    grid-template-columns: 1fr 4fr 0.5fr;
    gap: 1rem;
    /* justify-content: space-between; */
}

/* .row-card-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;


} */

.row-card-col {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
    align-content: center;


}

.row-card-col>p.instrument-icons {
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
}

.row-card-details>h4,
.row-card-details>p {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.row-card-details>p {
    font-size: 0.8rem;
}

/* .row-card-middle {
    align-items: center;
    justify-content: space-between;
} */

.row-card-end {
    align-items: center;
    justify-content: center;
}

.row-card-middle>h3 {
    margin-top: 0;
    text-decoration: underline;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100dvw;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.528);
}

.modal.show {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20dvh 0;
    box-sizing: border-box;
}

.card-menu {
    display: none;
}

.close-card-menu {
    padding: 0.5rem;
    padding-right: 1.2rem;
}

.open-card-menu {
    padding: 0.5rem 2rem 0.5rem 1rem;

}

.card-menu.show {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 0.5rem 0.5rem 0;
}

.card-menu p {
    margin: 0;
    font-size: 0.8rem;
}

.instrument-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.new-instrument-card {
    padding-left: 2rem;
    padding-right: 2rem;

}

.new-instrument-card>h3 {
    margin: 0;
}

.plus {
    font-size: 6rem;
    margin: 0
}

.form-card {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 0.5rem;
    width: 25rem;
}

.form-card>h2 {
    text-align: center;
}

.delete-form {
    text-align: center
}

.confirm-delete {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

.part-form-card {
    flex-direction: row;
    display: flex;

    align-items: center;
    gap: 0.5rem;

}

.form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.form-row-end {
    justify-content: end;
}

.form-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.buttons-form>button {

    cursor: pointer;
}

/* #endregion card */
/* #region meters */
.song-completion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.song-completion p {
    margin: 0;
}

.meter {
    border-style: ridge;
    border-color: rgb(46, 45, 45);
    border-width: 5px;
    background-color: black;
}

.completion-meter {
    display: flex;
    margin: auto;
    height: 1rem;
}


.child-elements-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.element-meters-container {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    gap: 2px;
    background-color: black;
    width: 4rem;
    height: 3rem;
}

.element-meter {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    margin: auto;
    height: 100%;
}

.meter-chunk {
    background-color: rgba(0, 128, 0, 0.345);
    width: 100%;
    height: 100%;
}

.meter-chunk-on {
    background-color: green;
}

/* #endregion child-elements-meter */
/* #region inst-icons */
@font-face {
    font-family: instruments-t;
    src: url(instruments-t.ttf);
}

.instrument-icons {
    font-family: instruments-t;
    color: white;
    font-size: 4rem;
    margin: 0;
    border-style: ridge;
    border-color: rgb(46, 45, 45);
    border-width: 5px;
    background-color: black;
    padding: 0.3rem;
    box-sizing: border-box;
}

.instrument-icons-small {
    font-size: 2rem;
}

.fake-button {
    text-align: center;
    padding: 1px 6px;
    background-color: rgb(239, 239, 239);
    color: black;
    border-style: outset;
    border-width: 2px;
    border-color: rgb(118, 118, 118);
    box-sizing: border-box;
}

.icon-select~label {

    display: none;
}

.icon-select:checked~label {
    display: block;
}

.icon-radio:checked+label {
    display: block;

    border-color: silver;


}

.icon-popup {
    font-size: 4rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1 rem;
}

#hidden {
    position: relative;
    width: 100%;
    height: 100%;
}

#hider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;


}

.hidden-radio {
    opacity: 0;
}


/* #endregion inst-icons */

input {
    text-align: center;
}

#show-notes+div.notes-card {
    display: none;
}

#show-notes:checked+div.notes-card {
    display: flex;

}

.invisible {
    opacity: 0;
}

p.invisible {
    margin: 0;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--darkest);
    text-align: center;
}

@media (min-width: 720px) {
    main {
        width: 100%;

    }

    .card-list {
        max-width: 800px;
        margin: auto;
    }
}

@media only screen and (max-width:768px) {
    header>h1 {
        font-size: 1.5rem;
        margin: 0;
    }

    header {
        padding: 1.2rem;
    }

    nav {
        width: 50%;
    }
}