<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Architects+Daughter">
    <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <title>Recording Tracker</title>
</head>

<body>
    <header>
        <h1>Recording Tracker</h1>
    </header>
    <button id="menu-button" class="icon-button" name="menu-button"><i class="fa-solid fa-bars fa-2x"></i></button>
    <div id="nav-pane">
        <nav>
            <a href="/" tabindex="-1">Home</a>
            <a href="/artists" tabindex="-1">Artists</a>
            <a href="/albums" tabindex="-1">Albums</a>
            <a href="/songs" tabindex="-1">Songs</a>
            <a href="/parts" tabindex="-1">Parts</a>
            <a href="/instruments" tabindex="-1">Instruments</a>
        </nav>
        <div class="nav-overlay">
            <label for="menu-trigger">|</label>
        </div>
    </div>
    {% block content %}

    {% endblock content %}


</body>

<!-- <footer>
    <p>Recording Tracker - &copy Tim Henderson 2023</p>
</footer> -->

</html>