<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Architects+Daughter">
    <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Recording Tracker</title>
</head>

<body>
    <header>
        <h1>Recording Tracker</h1>
    </header>

    <input class="trigger" type="radio" name="card-menu-trigger" id="no-card-menu" checked>
    {% block content %}

    {% endblock content %}
    <input type="checkbox" name="" id="menu-trigger">
    <div class="nav-pane">
        <nav>
            <a href="/">Home</a>
            <a href="/artists">Artists</a>
            <a href="/albums">Albums</a>
            <a href="/songs">Songs</a>
            <a href="/parts">Parts</a>
            <a href="/instruments">Instruments</a>
        </nav>
        <div>
            
        </div>
    </div>
    <div id="menu-button"><label for="menu-trigger"><i class="fa-solid fa-bars fa-2x"></i></label></div>
</body>

<!-- <footer>
    <p>Recording Tracker - &copy Tim Henderson 2023</p>
</footer> -->

</html>