<div class="song-parts-container">
    <p>Parts - {{ song.get_num_parts() }}</p>
    <div class="part-meters-container">
        {% if song.parts %}




        {% for part in song.parts %}
        <div class="part-meter">
            <div class="meter-chunk {% if part.status >= 5 %}meter-chunk-on{% endif %}"></div>
            <div class="meter-chunk {% if part.status >= 4 %}meter-chunk-on{% endif %}"></div>
            <div class="meter-chunk {% if part.status >= 3 %}meter-chunk-on{% endif %}"></div>
            <div class="meter-chunk {% if part.status >= 2 %}meter-chunk-on{% endif %}"></div>
            <div class="meter-chunk {% if part.status >= 1 %}meter-chunk-on{% endif %}"></div>
        </div>
        {% endfor %}
        {% else %}
        <div class="meter">
            <div class="meter-chunk"></div>
        </div>
        {% endif %}
    </div>
</div>