<div class="song-parts-container">
    <p>Parts - {{ song.get_num_parts() }}</p>
    <div class="part-meters-container">
        {% if song.parts %}




        {% for part in song.parts %}
        <div class="single-part-meter">
            <div class="part-meter {% if part.status >= 5 %}part-meter-on{% endif %}"></div>
            <div class="part-meter {% if part.status >= 4 %}part-meter-on{% endif %}"></div>
            <div class="part-meter {% if part.status >= 3 %}part-meter-on{% endif %}"></div>
            <div class="part-meter {% if part.status >= 2 %}part-meter-on{% endif %}"></div>
            <div class="part-meter {% if part.status >= 1 %}part-meter-on{% endif %}"></div>
        </div>
        {% endfor %}
        {% else %}
        <div class="single-part-meter">
            <div class="part-meter"></div>
        </div>
        {% endif %}
    </div>
</div>