{% extends 'base.html' %}
{% block content %}

<div class="page-header">
    <div class="page-header-contents page-header-card">

        {% include 'components/album-card-row.html' %}
    </div>
    <div class="page-header-links">
        <form><button formaction="/artists/{{ album.artist.id }}/albums/ {{ album.id }}">Back</button></form>
        <form><button formaction="/artists/{{ album.artist.id }}/albums/{{ album.id }}/edit">Edit Album</button>
        </form>
        <form><button formaction="/artists/{{ album.artist.id }}/albums/{{ album.id }}/delete">Delete
                Album</button>
        </form>
        <form><button formaction="/albums/{{ album.id }}/songs/new">New Song</button></form>
    </div>
    <hr>
</div>
<div class="card-list form-card-list">
    <div class="card form-card">
        <h2>Edit Album</h2>
        <form class="form-card" action="/artists/{{ album.artist.id }}/albums/{{ album.id }}/update" method="post">

            <label for="name">Name:</label>
            <input type="text" name="name" id="name" value="{{ album.name }}" required>
            <label for="artist">Artist: </label>
            <select name="artist_id" id="artist" required>
                {% for artist in artists %}
                <option value="{{ artist.id }}" {% if album.artist.id==artist.id %} selected {% endif %}>
                    {{artist.name}}
                </option>
                {% endfor %}
            </select>

            <br>
            <div class="form-row">
                <input type="submit" value="Update Album">
            </div>
        </form>
        <form class="form-row" action="/artists/{{ album.artist.id }}/albums/{{ album.id }}/delete">
            <input type="submit" value="Delete Album">
        </form>
        <form class="form-row" action="/artists/{{ album.artist.id }}/albums/{{ album.id }}">
            <input type="submit" value="Back To Album">
        </form>
    </div>
</div>


{% endblock content %}