{% extends 'base.html' %}
{% block content %}
<main>
    <div class="page-header">
        <div class="page-header-contents">
            <h2>All Albums</h2>
            <a href="/albums/new">New Album</a>
        </div>
        <hr>
    </div>
    <div class="card-list">
        {% for album in albums %}
        <article>
            <a href="/albums/{{ album.id }}">
                <div class="card">
                    <h3>{{ album.name }}</h3>
                    {% for song_completion in album.songs_completion %}
                    <p>complete: {{ song_completion }}</p>
                    {% endfor %}
                    <p>{{ album.get_completion() }}%</p>
                    <a href="/albums/{{ album.id }}/edit">Edit</a>
                    <a href="/albums/{{ album.id }}/delete">Delete</a>
                </div>
            </a>
        </article>
        {% endfor %}
    </div>
</main>
{% endblock content %}