{% extends 'base.html' %}
{% block content %}
<div class="page-header">
    <div class="page-header-contents page-header-card">
        {% include 'components/artist-card-row.html' %}
    </div>
    <hr>
</div>
<div class="card-list form-card-list">
    <div class="card form-card">
        <h2>New Album</h2>
        <form class="form-card" action="/artists/{{artist.id}}/albums" method="post">
            <label for="name">Artist:</label>
            <div class="form-row">
                {{ artist.name }}
            </div>
            <label for="name">Album Name:</label>
            <input type="text" name="name" id="name" placeholder="Album name" required>
            <br>
            <div class="form-row">
                <input type="submit" value="Add Album">
            </div>
        </form>
        <form class="form-row" action="/albums">
            <input type="submit" value="Cancel">
        </form>
    </div>
</div>


{% endblock content %}