{% extends 'base.html' %}
{% block content %}
<main>
    <div class="page-header">
        <div class="page-header-contents page-header-card">
            {% include 'components/album-card-row.html' %}
        </div>
        <div class="page-header-links">
            <form><button formaction="/albums/{{ album.id }}/songs/new">New Song</button></form>
            <form><button formaction="/albums/{{ album.id }}/edit">Edit Album</button></form>
            <form><button formaction="/albums/{{ album.id }}/delete">Delete Album</button></form>
        </div>


        <hr>
    </div>
    <div class="card-list card-list-column">
        {% for song in songs %}
        <article>
            <a href="/songs/{{ song.id }}">
                {% include 'components/song-card-row.html' %}
            </a>
        </article>
        {% endfor %}
    </div>
</main>
{% endblock content %}