<div class="card">
    <div>
        <h3>{{ album.name }}</h3>
        <p>by {{ album.artist.name }}</p>

    </div>
    {% set completion = album.get_completion() %}
    {% include 'components/widgets/completion.html' %}

    {% set element_name = "Songs" %}
    {% set num_elements = album.get_num_songs() %}
    {% set elements = album.songs_completion %}
    {% include 'components/widgets/child-elements-meter.html' %}

    <a href="/albums/{{ album.id }}/edit">Edit</a>
    <a href="/albums/{{ album.id }}/delete">Delete</a>
</div>