<div class="card row-card">
    <div class="row-card-col">
        <h3>{{ album.name }}</h3>
        <p>by {{ album.artist.name }}</p>
    </div>
    <div class="row-card-col row-card-middle">
        <h3>Album</h3>
        {% set completion = album.get_completion() %}
        {% include 'components/widgets/completion.html' %}
    </div>
    {% set element_name = "Songs" %}
    {% set num_elements = album.get_num_songs() %}
    {% set elements = album.songs_completion %}
    {% include 'components/widgets/child-elements-meter.html' %}
</div>