<div class="card">
    <div>
        <h3>{{ artist.name }}</h3>
    </div>

    {% set completion = artist.get_completion() %}
    {% include 'components/widgets/completion.html' %}

    {% set element_name = "Albums" %}
    {% set num_elements = artist.get_num_albums() %}
    {% set elements = artist.albums_completion %}
    {% include 'components/widgets/child-elements-meter.html' %}
    <a href="/artists/{{ artist.id }}/edit">Edit</a>
    <a href="/artists/{{ artist.id }}/delete">Delete</a>

</div>