<article class="card part-card">
    <h3>{{ part.name }}</h3>
    <p class="instrument-icons">&#x{{ part.instrument.icon }};</p>
    <p>{{ part.instrument.name }}</p>
    {% set completion = part.status*20 %}
    {% set hide_percent = True %}
    {% set label = part.get_status_str() %}
    {% include 'components/widgets/completion.html' %}
    {% if not hide_buttons %}
    <form class="buttons-form">
        <button formaction="/songs/{{part.song.id}}/parts/{{ part.id }}/edit">Edit</button>
        <button formaction="/songs/{{part.song.id}}/parts/{{ part.id }}/delete">Delete</button>
    </form>
    {% endif %}

</article>