<!-- Requires type as string and the element to be displayed -->
{% if type=="part" %}
{% set item_name = item.name %}
{% set item_parent_name = item.song.title %}
{% set item_gparent_name = item.song.album.name %}
{% set item_ggparent_name = item.song.album.artist.name %}
{% set children = [item.status*20] %}
{% elif type == "song" %}
{% set item_name = item.title %}
{% set item_parent_name = item.album.name %}
{% set item_gparent_name = item.album.artist.name %}
{% set children = item.get_parts_status_percent() %}
{% elif type =="album"%}
{% set item_name = item.name %}
{% set item_parent_name = item.artist.name %}
{% set children = item.songs_completion %}
{% elif type=="artist" %}
{% set item_name = item.name %}
{% set children = item.albums_completion %}
{% endif %}
<article>

    <div class="card row-card">
        <div class="row-card-content">
            <div class="row-card-col">
                {% if type=="part" %}
                <p class="instrument-icons">&#x{{ item.instrument.icon }};</p>
                {% else %}
                {% include 'components/widgets/child-elements-meter.html' %}
                {% endif %}
            </div>
            {% if type=='song' %}
            <a href="/albums/{{ item.album.id }}/songs/{{ item.id }}" {% elif type=='album' %} <a
                href="/artists/{{ item.artist.id }}/albums/{{ item.id }}" {% elif type=='artist' %} <a
                href="/artists/{{ item.id }}" {% elif type=='part' %} <a
                href="/songs/{{ item.song.id }}/parts/{{ item.id }}" {% endif %} class="row-card-col row-card-details">
                <h4>{{ item_name }}</h4>
                {% if type == "song" %}
                <p>by {{ item_gparent_name }}</p>
                {% endif %}
                {%if type != "artist" %}
                <p>{{ item_parent_name }}</p>
                {% endif %}
                {% if type == "part" %}
                <p>by {{ item_ggparent_name }}</p>
                {% endif %}
            </a>
            <div class="row-card-col row-card-end">
                <button class="card-menu-button icon-button"><i
                        class="fa-solid fa-ellipsis-vertical fa-2x open-card-menu"></i></button>
            </div>
            <div class="card-menu">
                <p>Hi</p>
            </div>
        </div>
    </div>

</article>