<!-- Requires type as string and the element to be displayed -->
{% if type=="part" %}
{% set item_name = item.name %}
{% set item_parent_name = item.song.title %}
{% set item_gparent_name = item.song.album.name %}
{% set item_ggparent_name = item.song.album.artist.name %}
{% set children = [item.status*20] %}
{% set link = "/songs/"~item.song.id~"/parts/"~item.id %}
{% elif type == "song" %}
{% set item_name = item.title %}
{% set item_parent_name = item.album.name %}
{% set item_gparent_name = item.album.artist.name %}
{% set children = item.get_parts_status_percent() %}
{% set link = "/albums/"~item.album.id~"/songs/"~item.id %}
{% elif type =="album"%}
{% set item_name = item.name %}
{% set item_parent_name = item.artist.name %}
{% set children = item.songs_completion %}
{% set link = "/artists/"~item.artist.id~"/albums/"~item.id %}
{% elif type=="artist" %}
{% set item_name = item.name %}
{% set children = item.albums_completion %}
{% set link = "/artists/"~item.id %}
{% endif %}
<article>
    <div class="card row-card">
        <a href="{{ link }}">
            <h5>{{ type.capitalize() }}</h5>
        </a>
        <div class="row-card-content">
            <a href="{{ link }}" class="row-card-col">
                {% if type=="part" %}
                <p class="instrument-icons">&#x{{ item.instrument.icon }};</p>
                {% else %}
                {% include 'components/widgets/child-elements-meter.html' %}
                {% endif %}
            </a>

            <a href="{{ link }}" class="row-card-col row-card-details">
                <h4>{{ item_name }}</h4>
                {% if type == "song" %}
                <p>by {{ item_gparent_name }}</p>
                {% endif %}
                {%if type != "artist" %}
                <p>{{ item_parent_name }}</p>
                {% endif %}
                {% if type == "part" %}
                <p>by {{ item_ggparent_name }}</p>
                {% endif %}
            </a>
            <div class="row-card-col row-card-end">
                <button class="card-menu-button icon-button"><i
                        class="fa-solid fa-ellipsis-vertical fa-2x open-card-menu"></i></button>
            </div>
            <div class="card-menu">
                {% if type == "album" %}
                <button type="button" class="icon-button" formaction="/artists/{{ album.artist.id }}">
                    <i class="fa-regular fa-circle-up fa-2x"></i>
                    <p>Artist</p>
                </button>
                <button type="button" class="icon-button modal-button">
                    <i class="fa-solid fa-pen-to-square fa-2x"></i>
                    <p>Edit Album</p>
                </button>
                <div class="modal">
                    <div class="card form-card">
                        <h2>Edit Album</h2>
                        <form class="form-card" action="/artists/{{ album.artist.id }}/albums/{{ album.id }}/update"
                            method="post">

                            <label for="name">Name:</label>
                            <input type="text" name="name" id="name" value="{{ album.name }}" required>
                            <label for="artist">Artist: </label>
                            <select name="artist_id" id="artist" required>
                                {% for artist in artists %}
                                <option value="{{ artist.id }}" {% if album.artist.id==artist.id %} selected {% endif
                                    %}>
                                    {{artist.name}}
                                </option>
                                {% endfor %}
                            </select>

                            <br>
                            <div class="form-row">
                                <input type="submit" value="Update Album">
                            </div>
                        </form>
                        <form class="form-row" action="/artists/{{ album.artist.id }}/albums/{{ album.id }}/delete">
                            <input type="submit" value="Delete Album">
                        </form>
                        <form class="form-row" action="/artists/{{ album.artist.id }}/albums/{{ album.id }}">
                            <input type="submit" value="Back To Album">
                        </form>
                    </div>
                </div>
                <button type="button" class="icon-button"
                    formaction="/artists/{{ album.artist.id }}/albums/{{ album.id }}/delete">
                    <i class="fa-regular fa-trash-can fa-2x"></i>
                    <p>Delete Album</p>
                </button>
                <button type="button" class="icon-button" formaction="/albums/{{ album.id }}/songs/new">
                    <i class="fa-solid fa-plus fa-2x"></i>
                    <p>Add Song</p>
                </button>


                {% endif %}
            </div>
        </div>
    </div>

</article>