<!-- Requires type as string and the element to be displayed -->
{% if type == "song" %}
{% set item_name = item.title %}
{% set item_parent_name = item.album.name %}
{% set item_gparent_name = item.album.artist.name %}
{% set children = item.get_parts_status_percent() %}

{% else %}

{% endif %}
<article>
    {% if type=='song' %}
    <a href="albums/{{ item.album.id }}/songs/{{ item.id }}">
        {% endif %}
        <div class="card row-card">
            <div class="row-card-content">
                <div class="row-card-col">
                    {% include 'components/widgets/child-elements-meter.html' %}
                </div>
                <div class="row-card-col">
                    {% if type == "song" %}
                    <h3>{{ item_name }}</h3>
                    <p>by {{ item_gparent_name }}</p>
                    <p>{{ item_parent_name }}</p>
                    {% endif %}
                </div>
                <input class="card-menu-trigger trigger" type="radio" name="card-menu-trigger"
                    id="menu-song-{{ song.id }}">
                <div class="row-card-col row-card-end">
                    <label class="open-card-menu" for="menu-song-{{ song.id }}"><i
                            class="fa-solid fa-ellipsis-vertical fa-2x"></i></label>
                    <label for="no-card-menu" class="close-card-menu"><i class="fa-solid fa-ellipsis fa-2x"></i></label>
                </div>
                <div class="card-menu">
                    <p>Hi</p>
                </div>
            </div>
        </div>
    </a>
</article>