{% extends 'base.html' %}
{% block content %}
<div class="card-list form-card-list">
    <div class="card card-form delete-form">
        <h2>Are you sure you want to delete?</h2>
        <p>{% include 'components/song-card-row.html' %}</p>
        <div class="confirm-delete">
            <form action="/albums/{{ song.album.id }}/songs/{{ song.id }}/delete" method="post">
                <input type="submit" value="Delete">
            </form>
            <form action="/songs/{{ song.id }}">
                <input type="submit" value="Cancel">
            </form>
        </div>
    </div>
</div>
{% endblock content %}