{% extends 'base.html' %}
{% block content %}

<div class="page-header">
    <div class="page-header-contents page-header-card">
        {% set album = song.album %}
        {% include 'components/album-card-row.html' %}
    </div>
    <hr>
</div>
<div class="card-list form-card-list">
    <div class="card form-card">
        <h2>Edit Song</h2>
        <form class="form-card" action="/songs/{{ song.id }}/update" method="post">

            <label for="title">Title: </label>
            <input type="text" name="title" id="title" value="{{ song.title }}">
            <br>
            <label for="album">Album: </label>
            <select name="album_id" id="album">
                {% for album in albums %}
                <option value="{{ album.id }}" {% if album.id==song.album.id %} selected {% endif %}>{{ album.name
                    }} by {{
                    album.artist.name }}
                </option>
                {% endfor %}
            </select>

            <div class="form-row">
                <label for="notes">Notes: </label>
                <textarea name="notes" id="notes" cols="30" rows="10" value="{{ song.notes }}"></textarea>
            </div>
            <br>
            <div class="form-row">
                <input type="submit" value="Update Song">
            </div>
        </form>
        <br>
        <div class="form-row">
            <form action="/songs/{{ song.id }}/delete">
                <input type="submit" value="Delete">
            </form>
            <form action="/songs/{{ song.id }}">
                <input type="submit" value="Cancel">
            </form>
        </div>
    </div>
</div>
{% endblock content %}