{% extends 'base.html' %}
{% block content %}
<main>
    <div class="page-header">
        <div class="page-header-contents page-header-card">
            {% include 'components/song-card-row.html' %}
        </div>
        <div class="page-header-links">
            <form><button formaction="/albums/{{ song.album.id }}/songs/{{ song.id }}/parts/new">New Part</button>
            </form>
            <form><button formaction="/albums/{{ song.album.id }}/songs/{{ song.id }}/edit">Edit Song</button></form>
            <form><button formaction="/albums/{{ song.album.id }}/songs/{{ song.id }}/delete">Delete Song</button>
            </form>
        </div>
        <hr>
    </div>

    <div class="card-list part-card-list">
        {% for part in parts %}
        <a href="/songs/{{song.id}}/parts/{{parts.id}}">
            {% include '/components/part-card.html' %}
        </a>
        {% endfor %}
    </div>
</main>


{% endblock content %}