{% extends 'base.html' %}
{% block content %}
<main>
    <div class="page-header">
        <div class="page-header-contents page-header-card">
            {% with type='song',item=song %}
            {% include 'components/row-card.html' %}
            {% endwith %}
        </div>
        <div class="page-header-links">
            <form><button formaction="/artists/{{ song.album.artist.id }}/albums/{{ song.album.id }}">Album</button>
            </form>
            <form><button formaction="/albums/{{ song.album.id }}/songs/{{ song.id }}/edit">Edit Song</button></form>
            <label class="fake-button" for="show-notes">Show Notes</label>
            <form><button formaction="/albums/{{ song.album.id }}/songs/{{ song.id }}/delete">Delete Song</button>
            </form>
            <form><button formaction="/songs/{{ song.id }}/parts/new">New Part</button>
            </form>
        </div>
        <hr>
    </div>
    <div class="card-list part-card-list">
        <input type="checkbox" name="" id="show-notes" hidden>
        <div class="card-list form-card-list notes-card">
            <div class="card form-card">
                <form class="form-card" action="/albums/{{song.album.id}}/songs/{{song.id}}/update" method="post">
                    <input type="hidden" name="title" value="{{song.title}}">
                    <textarea name="notes" id="" cols="30" rows="10">{{song.notes}}</textarea>
                    <input type="submit" value="Save">
                </form>
            </div>
        </div>


        {% for part in parts %}
        {% with type="part", item=part %}
        {% include 'components/row-card.html' %}
        {% endwith %}
        {% endfor %}
    </div>
</main>


{% endblock content %}