{% extends 'base.html' %}
{% block content %}
<main>
    <div class="page-header">
        <div class="page-header-contents">
            {% include 'songs/components/song-card.html' %}
        </div>
        <a href="/songs/{{ song.id }}/parts/new">New Part</a>
        <a href="/songs/{{ song.id }}/edit">Edit</a>
        <a href="/songs/{{ song.id }}/delete">Delete</a>
        <hr>
    </div>

    <div class="card-list part-card-list">
        {% for part in song.parts %}
        {% include '/parts/components/part-card.html' %}
        {% endfor %}
    </div>
</main>


{% endblock content %}