{% extends 'base.html' %}
{% block content %}
<h2>Edit Part for {{ part.song.title }} by {{ part.song.album.artist.name }}</h2>
<form action="/songs/{{ part.song.id }}/parts/{{ part.id }}/update" method="post">
    <div>
        <label for="name">Name: </label>
        <input type="text" name="name" id="name" value="{{ part.name }}" required>
    </div>
    <div>
        <label for="instrument">Instrument: </label>
        <select name="instrument_id" id="instrument" required>
            {% for instrument in instruments %}
            <option value="{{ instrument.id }}" {% if instrument.id==part.instrument.id %} selected {% endif %}>
                {{ instrument.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    {% include 'components/widgets/status-select.html' %}
    <div>
        <label for="notes">Notes: </label>
        <textarea name="notes" id="notes" cols="30" rows="10" value="{{ part.notes }}"></textarea>
    </div>
    <div>
        <input type="submit" value="update Part">
    </div>
</form>
<form action="/songs/{{ part.song.id }}/parts/{{ part.id }}">
    <input type="submit" value="Cancel">
</form>
{% endblock content %}